@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... (Seu código anterior das variáveis :root) ... */

body {
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--background-page-start) 0%, var(--background-page-end) 100%);
  background-attachment: fixed; 
  font-weight: 300; 
}

@layer components {
    .link-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.75rem; 
        border-radius: 0.75rem; 
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative; 
        z-index: 1;
    }

    .link-button:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
    }

    .card-background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--card-overlay-color); 
        z-index: 0; 
        border-radius: inherit; 
    }
}